
.facetapi-facetapi-checkbox-links {
  margin-left: 1rem;
  list-style-type: none;
}

.views-exposed-widget.views-widget-sort-sort_bef_combine {
  float: left;
}

.calendar-number-icon {
  background: url("/sites/default/themes/ttctheme/public/images/icons/calendar-number-blue.svg") no-repeat left;
  background-size: 19px 21px;
  width:19px;
  min-width:19px;
  max-width:19px;
  height: 21px;
  min-height:21px;
  max-height:21px;
  margin-left:3px;
}
.calendar-edit-icon {
  background: url("/sites/default/themes/ttctheme/public/images/icons/calendar-edit-regular-blue.svg") no-repeat left;
  background-size: 19px 21px;
  width:19px;
  min-width:19px;
  max-width:19px;
  height: 21px;
  min-height:21px;
  max-height:21px;
  margin-left:3px;
}
/// Sorting fields on the Faceted Search page.
/// @see ttctheme/src/js/facetapi.js for supporting JavaScript.

#edit-abstract-sort {
  margin-top: 18px;
  @media #{$small-only} {
  //  width:65%;
  }
  .form-item {
    @include flexbox();
    #edit-abstract-sort-search-api-aggregation-1-asc,
    #edit-abstract-sort-search-api-aggregation-1-desc
    {
      @include flex-order(1);
    }
    #edit-abstract-sort-search-api-aggregation-2-asc,
    #edit-abstract-sort-search-api-aggregation-2-desc{
      @include flex-order(2);
    }
    #edit-abstract-sort-field-updated-date-asc,
    #edit-abstract-sort-field-updated-date-desc
    {
      @include flex-order(3);
    }
    #edit-abstract-sort-field-posted-date-asc,
    #edit-abstract-sort-field-posted-date-desc
    {
      @include flex-order(4);
    }
  }
}
.faceted-sort-button-text {
  display: inline-block;
  font-size: 11px;
  line-height: 13px;
  font-family: $font-family-sans-serif;
  margin-left: 5px;
  padding: 0;
}

.form-type-bef-link {
  display: inline-block;
  margin-right: 6px;
  &#edit-abstract-sort-field-posted-date-asc,
  &#edit-abstract-sort-field-posted-date-desc,
  &#edit-abstract-sort-field-updated-date-asc,
  &#edit-abstract-sort-field-updated-date-desc {
    .edit-sort__link {
      padding: 0 5px 0 8px;
    }
  }

  .edit-sort__link {
    padding: 0 5px 0 1rem;
    width: rem-calc(119px);
    height: rem-calc(42px);

    @include button-base;
    //@include button-size;
    @include button-style(#e4e4e4, $radius: $button-round);
    @include single-transition(#e4e4e4);
    @include flexbox();
    @include property-prefix(align-items, center);
    margin-bottom: 10px;
    color: #307391;
    background: #e4e4e4;
    text-align:left;
    //padding: 0.6rem 1rem 0.3rem 1rem;
    &:hover, &:active, &:focus {
      color: #307391;
    }

    .fa, .fas {
      &:before {
        font-size: 20px;
      }
    }
  }
  &.selected {
    .edit-sort__link{
      color :#fff;
      &:hover, &:active, &:focus {
        color :#fff;
      }
      background: #307391;
      @include button-style(#307391, $radius: $button-round);
      @include single-transition(#e4e4e4);
      text-align:left;
    }
    .calendar-number-icon {
      background: url("/sites/default/themes/ttctheme/public/images/icons/calendar-number-white.svg") no-repeat left;
    }
    .calendar-edit-icon {
      background: url("/sites/default/themes/ttctheme/public/images/icons/calendar-edit-regular-white.svg") no-repeat left;
    }

  }


  &:first-child {
    margin-left: 0;
  }

  &.-selected {
    // Styling for currently selected sorting
  }
  &.-ascending {
    // Styling for fields sorted in ascending order
  }
  &.-descending {
    // Styling for fields sorted in descending order
  }
  .fa-sort-alpha-asc {
    &:before {

    }
    &:after {
      //content: "Title (ascending)";
    }

  }
  .fa-sort-alpha-desc {
    &:before {

    }
  }
  .fa-sort-numeric-asc {
    &:before {

    }
  }
  .fa-sort-numeric-desc {
    &:before {

    }
  }

  .fa-calendar-check-o {
    &:before {

    }
  }
  .fa-calendar {
    &:before {

    }
  }
  .fa-calendar-plus-o {
    &:before {

    }
  }
  .fa-calendar-minus-o {
    &:before {

    }
  }
  &.-field-enumber {
    // Styling for field 'field_enumber'
  }
  &.-field-posted-date {
    // Styling for field 'field_opp_start_date'
  }
  &.-changed {
    // Styling for field 'changed'
  }
  &.-title {
    // Styling for field 'title'
  }
}
.edit-sort {
  &__link {
    display: block;

    width: 100%;
    height: 100%;
  }
}

ul.facet-selection {
  $button-padding-vertical: 0.5rem;
  $button-padding-horizontal: 0.75rem;

  margin-bottom: 0;
  margin-left: 0.5rem;

  list-style-type: none;

  > li {
    display: inline-block;

    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  a {
    @include button-base;
    @include button-size;
    @include button-style($radius: $button-round);
    @include single-transition(background-color);

    &:after {
      margin-left: 1.5rem;

      content: '×';
    }
  }
}
.panels-flexible-region-new-facets-inside, .sidebarnav_wrapper{
  .panels-flexible-region-new-center{width:100%;}
  .pane-ttc-search-form-pane {
    #edit-search-container{
      margin:0px; padding:10px 10px 0px 10px;
      background-color:#306E86;
    }

    .form-type-textfield{
      margin:0px; padding:0px;
      float:left;
      width:81%;
      color:#fff;

      input{background-color:#FFF; border-radius:3px; border:none; }
      *::-moz-placeholder {color: #fff;}


    }
    button{float:right; margin:0px; width:auto; padding:9px 9px; text-align:center; border-radius:3px;}
  }
  .pane-title{
    border-top:solid 1px #CCC;
    vertical-align:middle; padding:13px 13px;
    margin-bottom:0px;
    display:block;
    position:relative;
    font-weight:600;
    font-size:16px;
  }
  .pane-title:after{
    content:"+";
    text-align:center;
    cursor:pointer;
    font-size:20px;
    position:absolute;
    color:#f0f0f0;
    right:8px;
    background:#225D71;
    top:11px;
    padding:0px 11px;
    display:block;
    border-radius:3px;
  }
  .pane-title.open:after{
    content:"-";
    padding:0px 13px;

  }
  .pane-block .pane-content{display:none;}
  .pane-content ul{margin:0px; padding:0px;

    li{
      margin:0px 10px;
      padding:7px 0px;
      border-bottom:solid 1px #f0f0f0;
      vertical-align:top;

      label{
        font-size:14px;
        vertical-align:top;
        display:inline-flex;}
    }
    li:last-child{border:none; margin-bottom:10px;}

  }
}


body.page-availabletechnologies{

  .pane-page-title{
    border-bottom:solid 1px #f0f0f0;
  }
  .pane-page-title h1 {
    border-bottom:none; padding:0px 0px 6px 0; margin:0px; line-height:1;

    @media #{$small-only, $medium-only} {
      margin-top:40px;
      margin-bottom:-25px;
      padding-bottom:10px;
      font-size:1.3em;
    }

  }
  .pane-views-header{margin:15px 0 0 0;
    @media #{$small-only,$medium-only} {
      font-size:1em;
      min-width:200px;
      display:block;
      clear:both;


    }
    @media #{$medium-only} {
      //font-size:1.5em;
    }
  }
  .views-exposed-widgets {
    float:left;
    clear:both;
    width:100%;

    @media #{$small-only, $medium-only} {
      margin-top:15px;
      label
      {
        font-size:1em;
      }
    }

    .views-exposed-widget{

      @media #{$small-only} {
        float:none;
        clear:both;
        text-align:left !important;
        display:block;
      }
    }
  }

  .field-type-taxonomy-term-reference li{
    list-style:none;
    display:inline-block;
    color:#fff;
    margin:0px 5px 5px 0px;
    padding:5px 10px;
    border-radius:3px;
    font-size:13px !important;
  }
  .abstract__summary {
    border:none;
    padding:0px;
    font-size:.85em;
    max-width:95%;
  }
  ul.facet-selection {
    margin:20px 0 10px 0;
    padding:0px;
  }
  ul.facet-selection a{
    padding:.6rem .75rem;
    @media #{$small-only} { font-size:13px; padding:.45rem .5rem;}
  }


}
ul.taxonomy-terms, ul.facet-selection li{margin-left:0px;}

article.node-abstract.node-teaser {
  @include clearfix;
  @include clearprior;

  margin-bottom: $column-gutter;

  .image {
    width: rem-calc(220);
    min-height: 1px;
    margin-right: $column-gutter/2;

    @media #{$small-only} {
      display: none !important;
    }

    @media #{$medium-only} {
      width: rem-calc(150);
    }

    @media #{$medium-up} {
      float: left;
      display: none;
    }

  }

  .abstract__contents {
    display: table;
  }

  .abstract__summary {
    &, .field-type-taxonomy-term-reference, .field-type-taxonomy-term-reference ul{
      margin-bottom: 0;
    }
  }
}
.pane-current-search-current-abstract-faceted-search ul li{margin-right:10px;}

body.section-availabletechnologies .sidebar.show-for-large-up{
  display:block !important;

  @media #{$small-only, $medium-only} {
    .sidebarnav_wrapper .block{display: none; margin:0 15px;}
  }

}
body.section-availabletechnologies  .sidebarnav_wrapper{
  display:block !important;

  @media #{$small-only, $medium-only} {
    .inside{display: none; margin:0 15px;}
  }

}

.sidebar-mobile-link {
  display:block;
  padding:15px;
  text-align:left;
  cursor:pointer;

  &:after{content:"+"; float:right; font-size:20px; margin-top:-4px; color:#fff;   background:#306E86; border-radius:3px; width:35px; text-align:center;}
}
.sidebar-mobile-link.open:after{content:"-";}