.icon {
  // icon sizes
  $icon-sizes: (
    36px,
    54px
  );

  display: inline-block;

  border-width: 2px;
  border-style: solid;
  border-radius: 50%;

  @each $size in $icon-sizes {
    &.-size-#{strip-unit($size)} {
      height: $size;
      width: $size;
    }
  }

  /// @TODO: remove and replace with dynamic images
  &.-icon-email {
    border-color: palette(white);

    &--white {
      border-color: palette(white);
      color: white;
    }
  }
  &.-icon-linkedin {
    border-color: palette(white);

    &--white {
      border-color: palette(white);
      color: white;
    }
  }
  &.-icon-twitter {
    border-color: palette(white);

    &--white {
      border-color: palette(white);
      color: white;
    }
  }
  &.-icon-govdelivery-font {
    border-color: palette(white);

    &--white {
      border-color: palette(white);
      color: white;
    }
  }
  .fa{
    vertical-align: bottom;
  }
  
}
.follow-us__label{font-size:.85em;}
.follow-us__list-item {
	position: relative;
	font-size: 16px;
	margin-left: 0px;
}
.follow-us__list li a {
	text-align: center;
    color: white;
}
.follow-us__list li a:before {
	font-family: 'FontAwesome';
	color: white;
	position: absolute;
	vertical-align: middle;
	text-align: center;
	left: 0px;
	right: 0px;
	top: 6px;
}
.footer .follow-us__list-item {
	font-size: 25px;
}
.footer .follow-us__list li a:before {
	color: #fff;
	top: 8px;
}

.addthis span.label{font-size:.85em; color:#666; margin-right:7px; vertical-align:top;}

