$main-menu-margin-top: 1rem;
$main-menu-margin-bottom: 0.5rem;
$main-menu-indicator-size: 0.5rem;
$desktop-off-canvas-width: 310px;
$mobile-off-canvas-width: 70%;

.block-system-main-menu,.desktop-menu  {
  display: none;
  clear: both;
  margin-top: 0;

  @media #{$large-up} {
    position: absolute;
   // height: 55px;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
	border-bottom:solid 1px #ccc;
    background-color: #275d70;
    width: 100%;
    .submenu{
      padding-top: 20px;
    }
    .menu {
      @include equally-spaced-list;

      margin: $main-menu-margin-top 5% 0;

      text-transform: uppercase;
    }
    li {
      position: relative;

      text-align: center;

      &.active-trail {
        &:before {
          position: absolute;
          top: calc(100% - #{$main-menu-margin-bottom});
          left: calc(50% - #{$main-menu-indicator-size});

          width: 0;
          height: 0;
          content: '';
          border-width: 0 $main-menu-indicator-size $main-menu-indicator-size $main-menu-indicator-size;
          border-style: solid;
          border-color: transparent transparent #ffffff transparent;
        }
      }
    }
    a {
      color: palette(white, base);
    }

    li.expanded .menu {
      display: none;
      position: absolute;
      margin: 0;
      z-index: 1000;
      /* text-align: left; */
      background-color: #FFFFFF;
      /* padding: 5px; */
     // border: 11px solid rgba(255, 255, 255, 0.5);
      width: 257px;
      box-sizing: border-box;
      box-shadow: 0 0 0 11px rgba(230,230,230,0.5);
      -webkit-box-shadow: 0 0 0 11px rgba(230,230,230,0.5);
      -moz-box-shadow: 0 0 0 11px rgba(230,230,230,0.5);
      a {
        color: #317490;
      }
      li{
        width: 205px;
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        line-height: 19px;
        text-align: left;
        padding: 10px 0 10px 10px;
      }
    }
    li.expanded:hover .menu{
      display: block;
    }

    li.expanded:hover .submenu:before{
      position: absolute;
      top: calc(100% - #{$main-menu-margin-bottom});
      left: calc(50% - #{$main-menu-indicator-size});

      width: 0;
      height: 0;
      content: '';
      border-width: 0 $main-menu-indicator-size $main-menu-indicator-size $main-menu-indicator-size;
      border-style: solid;
      border-color: transparent transparent #ffffff transparent;
    }


    li.expanded:hover .menu::before{
  //    content: "<span class='mplus'></span>";
    }


    li.last .submenu .menu{
      right: 10px;
    }




  }
}
// Needs to be over ridden for drop down menu to work.
#ttc-at-search-form .postfix.form-submit{
  z-index: 0;
}
.main {
  padding-top: ($list-line-height * $list-font-size) + ($main-menu-margin-top + $main-menu-margin-bottom + $main-menu-indicator-size);
}
body.not-front .block-system-main-menu,
body.not-front .desktop-menu
{border-bottom:none;}



body.front .mobile-menu{margin-top:-55px;}    
.mobile-menu{
    margin:0 auto; padding:0px;
    display:block;
    text-align:center;

    a{
        color:#fff; 
        display:inline-block; 
        padding:15px 0px;
        width:32%;
        border-left:solid 1px #4B757C;

        .fa{padding-left:6px;}
    }
     a:first-child{border:none;}
}

.off-canvas-wrap .left-off-canvas-menu{
    background-color:#272E3F;
    width: 290px;
        ul.menu{color:#fff;
            margin:0px; padding:0px;
                li{
                    
                    a{
                        color:#fff;
                        border-bottom:solid 1px #444;
                        display:block;
                        padding:15px 0 15px 15px;
                        font-size:13px;
                        text-transform:uppercase;
                    }
                    a.active, body.front .home{ 
                        background-color:#286782;  border-bottom:solid 1px #286782;
                    }
                    
                   .menu{ background-color:#fff; list-style:none; display:none;  color:#333 !important;
                   
                        li a{padding-left:25px; border-bottom-color:#ccc; color:#333;  text-transform:capitalize; font-size:14px; padding-right:20px;}
                        
                        .menu{
                            background-color:#f0f0f0; 
                            margin-left:10px;
                            
                            
                            .menu{
                                padding-top:10px; padding-bottom:20px;
                                
                                li{border-bottom:none;  list-style:disc; margin-left:30px;
                                
                                a{ border-bottom:none  !important;  padding:7px 0px; margin:0px; font-size:12px; }
                                }
                            }
                            
                        }
                   
                   }
                   .menu a{color:#333; padding-left:10px; font-size:12px;}
                }
                li.expanded{
                    position:relative;
                     .menu{display:none;
                      
                     }
                     .menu.show{
                         display:block;
                       
                       a{padding-left:25px;  padding-right:25px;}
                      
                       
                    }
                    

                }
                .mplus:after{
                        content:"+";
                        
                        font-size:18px;
                        position:absolute;
                        height:48px; width:40px;
                        padding-top:10px;
                        z-index:100;
                        right:5px;
                        top:0px;
                        text-align:center;
                        vertical-align:middle;
                        display:block;
                        transition:400ms;
                }
                 .mplus.open:after{content:"-";}
        }
        li .active {color:#fff !important; 
        
       
        }
        .mplus.open{content:"-" !important; }
        
       
}


body.front .home{ 
                        background-color:#286782;  border-bottom:solid 1px #286782;
                    }

.right-off-canvas-menu  {
   background-color:#272E3F;
   text-align:center;
   width: ($desktop-off-canvas-width);

  @media #{$small-only} {
    width: ($mobile-off-canvas-width);
  }


   /* li.follow-us__list-item{
        margin:20px auto; 
        clear:both; 
        display:block;
        
        a, a:before{color:#ccc;}
        a:hover{color:#fff;}
    }
    */
}



@media #{$small-only, $medium-only} {
  .right-off-canvas-menu {
    //width: ($desktop-off-canvas-width);
  }
  .move-left > .inner-wrap {
    transform: translate3d(-$desktop-off-canvas-width, 0, 0);
    @media #{$small-only} {
      transform: translate3d(-$mobile-off-canvas-width, 0, 0);
    }

  }
    .move-right > .inner-wrap {
    transform: translate3d(290px, 0, 0);
  }

  .no-csstransforms .left-off-canvas-menu {
    left: -$desktop-off-canvas-width;
    @media #{$small-only} {
      left: -$mobile-off-canvas-width;
    }
  }
  .no-csstransforms .move-left > .inner-wrap {
    right: $desktop-off-canvas-width;
    @media #{$small-only} {
      right: $mobile-off-canvas-width;
    }
  }
}

.exit-off-canvas{
  color:#fff;
    font-weight:600; 
    font-size:18px; 
    text-decoration:none; 
    padding:13px 20px; 
    display:none;
    background:rgba(0, 0, 0, 0.5) repeat !important;

}

.move-left .exit-off-canvas.left-slide-main{
  right: 60px;
  @media #{$small-only, $medium-only} {
    right: 0px;
  }

}


.move-left .right-off-canvas-menu  {
  right: 60px;
  @media #{$small-only, $medium-only} {
    right: 0px;
  }
}

.exit-off-canvas.right-bar-cross{
  display: block;
 // background: none !important;
  position: inherit;
  height: 30px;
  padding: 0;
  margin: 0 0 10px 260px;
  @media #{$small-only} {
    margin: 0 0 10px 95%;
  }
  text-align: right;
  box-shadow: unset;
  background-color: #272E3F !important;
  background-image: url(/sites/default/themes/ttctheme/public/images/icons/ttc-exit-icon.svg) !important;
  background-size: 15px;
  background-repeat: no-repeat !important;
  width: 15px;
  height: 15px;
}



.mobile-menu .right-off-canvas-toggle  .icon-govdelivery{
  background-image: url(/sites/default/themes/ttctheme/public/images/icons/gov-delivery-icon-white.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  display: inline-block;
}


.submenu .menu a{
  text-transform: none;
}






