

/// Common footer menu block
/// @type Placeholder
%footer-menu {
  @include clearprior;

  margin-bottom: 2.5rem;

  color: palette(white);

  @media #{$large-up} {
    margin-bottom: 1.5rem;
  }

  .leaf {
    display: block;

    padding-top: 0.5rem;
    padding-bottom: 0.25rem;

    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: palette(gray, mid-light);

    @media #{$large-up} {
      display: inline-block;

      padding-top: 0;
      padding-bottom: 0;

      border-bottom-style: none;

      &:before {
        margin-right: 0.5rem;
        margin-left: 0.5rem;

        content: "|";
      }
      &.first:before {
        content: none;
      }
    }
  }

  a {
    color: palette(white);
  }
}

/// Primary footer menu block
/// Intended to include links to TTC-specific pages, like the Homepage and Site Map
.block-menu-menu-footer-menu-primary {
  @extend %footer-menu;

  margin-top: 2.5rem;

  @media #{$large-up} {
    .menu {
      padding-top: 2.5rem;

      border-top-width: 2px;
      border-top-style: solid;
      border-top-color: palette(gray, mid-light);
    }
  }
}

/// Secondary footer menu block
/// Intended to include links to other NCI/NIH/HHS/USA.gov
.block-menu-menu-footer-menu-secondary {
  @extend %footer-menu;

  @media #{$large-up} {
    margin-bottom: 3.5rem;
  }
}
