.abstract__pdf-header{

    .abstract__pdf-header_image {
        max-width: 100%;

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

.abstract__pdf-footer{
    width: 100%;
    //text-align: center;
    //font-size: 10pt;

    .footer-title {
        font-weight: bold;
    }

    .footer-url {
        position: fixed;
        float: right;
        width: 50%;
        text-align: right;
    }
}

article.abstract__pdf, .abstract__pdf-footer {

    &, & li, & p{
        font-size: 12pt;
    }

    ul, ol, dl, p {
        margin-bottom: 0;
    }
    
    .field-type-text-long p {
        margin-top: $paragraph-margin-bottom / 2; 
    }
}