.abstract__pdf-header{
    
    .abstract__pdf-header_image {
        max-width: 100%;

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

.abstract__pdf-footer{
    width: 100%;
    text-align: center;
    font-size: 10pt;
}

.abstract__pdf {

}