.abstract__summary {
  @include bordered-box;

  padding: 1rem 1rem 0;
  margin-bottom: $paragraph-margin-bottom;

  .field-name-field-contact-auto .field {
    margin-bottom: 0;
  }
.field-type-taxonomy-term-reference ul.taxonomy-terms {margin-left:0px;}
}

.abstract__link {
  &.-view-pdf {
    float: right;
    margin: $column-gutter/4 $column-gutter/2;
    padding: 5px $column-gutter/2 5px 30px;
    background-color: palette(blue, base);
    border-radius:3px;
    font-size:14px;
    position:relative;

    a {
      color: palette(white, base);
    }
  }
}
.abstract__link:before{
  color:#fff !important;
  font-family: 'FontAwesome';
  content: '\f1c1';
  position: absolute;
  top:5px;
  left:9px;
  font-weight: 300;
  font-size:1em;
  z-index:100;
}

.node .body ul li{margin-bottom:10px;}

.fontsize-wrapper{display:inline-block; margin-right:30px; vertical-align:top;}
.fontsize-wrapper i{padding:5px 3px; cursor:pointer; font-size:1.3em; color:#265D74;}

.field-type-taxonomy-term-reference ul.taxonomy-terms {margin-left:15px;}
.field-name-field-product-type.field-type-taxonomy-term-reference li{ 
  list-style:none; 
  display:inline-block;
  margin:0px 5px 0px 0px; 
  padding:5px 10px; 
  border-radius:3px; 
  font-size:13px !important;
  
  &, & a{
    color: palette(white);
  }
}

.taxonomy-term{
  @include product-type-background('dark');
}

