.abstract__summary {
  @include bordered-box;

  padding: 1rem 1rem 0;
  margin-bottom: $paragraph-margin-bottom;
  
  .field-name-field-contact-auto .field {
      margin-bottom: 0;
  }
}

.abstract__link {
    &.-view-pdf {
        float: right;
        margin: $column-gutter/4 $column-gutter/2;
        padding: 5px $column-gutter/2 5px 30px;
        background-color: palette(blue, base);
        border-radius:3px;
        font-size:14px;
        position:relative;
        
        a {
            color: palette(white, base);
        }
    }
}
.abstract__link:before{
	color:#fff !important;
    font-family: 'FontAwesome';
	content: '\f1c1';
	position: absolute;
  	top:5px;
	left:9px;
	font-weight: 300;
	font-size:1em;
	z-index:100;
}

.node .body ul li{margin-bottom:10px;}
.taxonomy-term{background-color:#7B75A5;}
.taxonomy-term.devices{background-color:#3D334B;}
.taxonomy-term.diagnostics{background-color:#EC5248;}
.taxonomy-term.software{background-color:#98A345;}
.taxonomy-term.research-materials{background-color:#7B75A5;}
.taxonomy-term.therapeutics{background-color:#5BAA8B;}
.taxonomy-term.vaccines{background-color:#F99848;}
