.available-technologies {
  &__block {
    $text-height: $list-line-height * $list-font-size + $paragraph-margin-bottom;

    @include product-type-backgrounds;
	background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20275%20275%22%3E%0D%0A%20%3Ccircle%20cx%3D%22137.5%22%20cy%3D%22137.5%22%20r%3D%22134.25%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%226.5%22%2F%3E%0D%0A%20%3Ccircle%20cx%3D%22137.5%22%20cy%3D%22137.5%22%20r%3D%22125%22%20fill%3D%22%23fff%22%2F%3E%0D%0A%3C%2Fsvg%3E');
		
      background-position: center 30%;
      background-size: (2/3 * 100%);
      background-repeat: no-repeat;
	  padding-top: 0px;
    padding-bottom: 1rem;

    a { 
      color: palette(white, base);
    }
  }
  
}

.at-icons .field-content{
	background-repeat:no-repeat;
 	background-position: center center;
    background-size: 28%;
	position:relative;
	clear:both;
	height:100%;
	display:block;
	width:100%;
	padding-top: 80%;
        text-align: center;
}
.-devices span{	background:url(/sites/default/themes/ttctheme/public/images/icons/devices.png);}
.-diagnostics span{	background:url(/sites/default/themes/ttctheme/public/images/icons/diagnostics.png);}
.-research-materials span{	background:url(/sites/default/themes/ttctheme/public/images/icons/research-materials.png);}
.-software span{	background:url(/sites/default/themes/ttctheme/public/images/icons/software.png);}
.-therapeutics span{	background:url(/sites/default/themes/ttctheme/public/images/icons/therapeutics.png);}
.-vaccines span{	background:url(/sites/default/themes/ttctheme/public/images/icons/vaccines.png);}


body.page-availabletechnologies .available-technologies__block{border:solid 6px #D9D9D9;}
body.page-availabletechnologies:not(.landing-page) h2.pane-title{height:10px; border-top:solid 1px #D9D9D9;}

body.page-availabletechnologies.landing-page .panel-separator{
    border-top:solid 1px #D9D9D9;
    margin: 2rem 0  !important;
}