/// BLOCK: tagline
/// Used for the "NIH ... Turning Discovery Into Health" section in the footer
.block--tagline {
  @include clearprior;

  @at-root .tagline {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    text-align: center;

    color: palette(gray, mid-light);
    background-color: palette(gray, light);

    @media #{$large-up} {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
}
