/// BLOCK: tagline
/// Used for the "NIH ... Turning Discovery Into Health" section in the footer
.block--tagline {
	@include clearprior;

	@at-root .tagline {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;

		text-align: center;

		color: palette(gray, mid-light);
		background-color: palette(gray, light);

		@media #{$large-up} {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
	}
}

.pane-available-technologies {
  text-align: center;

  background-color: palette(white, base);

  .pane-title {
    font-size: rem(30px);
  }

  @at-root {
    ul.available-technologies {
      &__list {
        margin-bottom: 0;

        @include block-grid(1);

        @media #{$medium-up} {
          @include block-grid(3);
        }
        @media #{$large-up} {
          @include block-grid(6);
        }

        > li {
          margin-bottom: 0;
          margin-left: 0;
        }
      }
    }
  }
}
