/** Begin styles for error pages */
/** Classes are set in the content item */
.ttc-error-code {
  font-size: 72px;
  text-align: center;
  color: navy;
}

.ttc-error-text {
  font-weight: bold;
  text-align: center;
}
/** End styles for error pages */