/** Begin styles for error pages */
/** Classes are set in the content item */
.ttc-error-code {
  font-size: 7em;
  text-align: center;
  color: #2D7492;
  font-weight:600;
  margin-bottom:0px;
}

.ttc-error-text {
  font-weight: bold;
   font-size: 1.5em;
  text-align: center;
}
#mainid{display:block; width:100%; margin:0px auto; padding:100px 50px; float:none; left:0px; text-align:center;}
.addthis, .sidebar, .title{display:none;}
/** End styles for error pages */