.facetapi-facetapi-checkbox-links {
  margin-left: 1rem;
  list-style-type: none;
}

.views-exposed-widget.views-widget-sort-sort_bef_combine {
  float: right;
}

/// Sorting fields on the Faceted Search page.
/// @see ttctheme/src/js/facetapi.js for supporting JavaScript.
.form-type-bef-link {
  display: inline-block;

  width: rem-calc(36px);
  height: rem-calc(36px);
  margin-left: 1em;

  background-color: palette(gray, light);

  &:first-child {
    margin-left: 0;
  }

  &.-selected {
    // Styling for currently selected sorting
  }
  &.-ascending {
    // Styling for fields sorted in ascending order
  }
  &.-descending {
    // Styling for fields sorted in descending order
  }

  &.-field-enumber {
    // Styling for field 'field_enumber'
  }
  &.-field-opp-start-date {
    // Styling for field 'field_opp_start_date'
  }
  &.-changed {
    // Styling for field 'changed'
  }
  &.-title {
    // Styling for field 'title'
  }
}
.edit-sort {
  &__link {
    display: block;

    width: 100%;
    height: 100%;
  }
}

ul.facet-selection {
  $button-padding-vertical: 0.5rem;
  $button-padding-horizontal: 0.75rem;

  margin-bottom: 0;
  margin-left: 0.5rem;

  list-style-type: none;

  > li {
    display: inline-block;

    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  a {
    @include button-base;
    @include button-size;
    @include button-style($radius: $button-round);
    @include single-transition(background-color);

    &:after {
      margin-left: 1.5rem;

      content: '×';
    }
  }
}
.panels-flexible-region-new-facets-inside, .sidebarnav_wrapper{
  .panels-flexible-region-new-center{width:100%;}
  .pane-ttc-search-form-pane {
    #edit-search-container{
      margin:0px; padding:10px 10px 0px 10px; 
      background-color:#306E86;
    }

    .form-type-textfield{
      margin:0px; padding:0px;
      float:left;
      width:81%;
      color:#fff;

      input{background-color:#578FA8; border-radius:3px; border:none; color:#fff;}
      *::-moz-placeholder {color: #fff;}


    }
    button{float:right; margin:0px; width:auto; padding:9px 9px; text-align:center; border-radius:3px;}    
  }
  .pane-title{
    border-top:solid 1px #CCC;   
    vertical-align:middle; padding:13px 13px; 
    margin-bottom:0px;
    display:block;
    position:relative;
    font-weight:600;
    font-size:16px;
  }
  .pane-title:after{
    content:"+";
    text-align:center;
    cursor:pointer;
    font-size:20px;
    position:absolute;
    color:#f0f0f0;
    right:8px;
    background:#225D71;
    top:11px;
    padding:0px 11px;
    display:block;
    border-radius:3px;
  }
  .pane-title.open:after{
    content:"-";
    padding:0px 13px;

  }    
  .pane-block .pane-content{display:none;}
  .pane-content ul{margin:0px; padding:0px;

                   li{
                     margin:0px 10px; 
                     padding:7px 0px; 
                     border-bottom:solid 1px #f0f0f0;  
                     vertical-align:top;

                     label{
                       font-size:14px;  
                       vertical-align:top; 
                       display:inline-flex;}
                   }
                   li:last-child{border:none; margin-bottom:10px;}

  }
}
.edit-sort__link{position:relative; text-align:center; background:#fff;}
.edit-sort__link:after{
  color:#333 !important;
  font-family: 'FontAwesome';
  position: absolute;
  top:0;
  left:15%;
  font-weight: 300;
  font-size:1em;
  z-index:100;
}
#edit-abstract-sort-field-enumber-desc a:after{
  content: '\f162';
}
#edit-abstract-sort-field-enumber-asc a:after{
  content: '\f163';
}
#edit-abstract-sort-field-opp-start-date-asc a:after{
  content: '\f274';
}
#edit-abstract-sort-field-opp-start-date-desc a:after{
  content: '\f273';
}
#edit-abstract-sort-changed-asc a:after{
  content: '\f271';
}
#edit-abstract-sort-changed-desc a:after{
  content: '\f272';
}
#edit-abstract-sort-title-asc a:after{
  content: '\f15d';
}
#edit-abstract-sort-title-desc a:after{
  content: '\f15e';
}
body.page-availabletechnologies{

  .pane-page-title{
    border-bottom:solid 1px #f0f0f0;
  }
  .pane-page-title h1 {
    border-bottom:none; padding:0px 0px 6px 0; margin:0px; line-height:1;
     
     @media #{$small-only, $medium-only} {
        margin-top:40px;
        margin-bottom:-25px;
        padding-bottom:10px;
        font-size:1.3em;
    }
    
  }
  .pane-views-header{margin:15px 0 0 0;
      @media #{$small-only} {
        font-size:1em;
        min-width:200px;
        display:block;
        clear:both;
       
      
        }
        @media #{$medium-only} {
        font-size:1.5em;
        }
    }
  .views-exposed-widgets {
      float:right; clear:none;
        @media #{$small-only} {
            float:left; 
            clear:both;
            width:100%;
            margin-top:10px;
            
            label{float:left; margin-right:20px; display:inline-block; font-size:1em;}
         }
     
     .views-exposed-widget{
    
        @media #{$small-only} {
            float:none;
            clear:both;
            text-align:left !important;
            display:block;
        }
    }
  }

  .field-type-taxonomy-term-reference li{ 
    list-style:none; 
    display:inline-block;
    color:#fff;
    margin:0px 5px 5px 0px; 
    padding:5px 10px; 
    border-radius:3px; 
    font-size:13px !important;
  }
  .abstract__summary{border:none; padding:0px; font-size:.85em; max-width:95%;}
  ul.facet-selection{margin:20px 0px; padding:0px;}
  ul.facet-selection a{
      padding:.6rem .75rem;
  @media #{$small-only} { font-size:13px; padding:.45rem .5rem;}
  }


}
ul.taxonomy-terms, ul.facet-selection li{margin-left:0px;}

article.node-abstract.node-teaser {
  @include clearfix;
  @include clearprior;

  margin-bottom: $column-gutter;

  .image {
    width: rem-calc(220);
    min-height: 1px;
    margin-right: $column-gutter/2;

    @media #{$medium-only} {
      width: rem-calc(150);
    }

    @media #{$medium-up} {
      float: left;
      display: none;
    }
  }

  .abstract__contents {
    display: table;
  }

  .abstract__summary {
    &, .field-type-taxonomy-term-reference, .field-type-taxonomy-term-reference ul{
      margin-bottom: 0;
    }
  }

}
    .pane-current-search-current-abstract-faceted-search ul li{margin-right:10px;}