.facetapi-facetapi-checkbox-links {
  margin-left: 1rem;
  list-style-type: none;
}

.views-exposed-widget.views-widget-sort-sort_bef_combine {
  float: right;
}

/// Sorting fields on the Faceted Search page.
/// @see ttctheme/src/js/facetapi.js for supporting JavaScript.
.form-type-bef-link {
  display: inline-block;

  width: rem-calc(36px);
  height: rem-calc(36px);
  margin-left: 1em;

  background-color: palette(gray, light);

  &:first-child {
    margin-left: 0;
  }

  &.-selected {
    // Styling for currently selected sorting
  }
  &.-ascending {
    // Styling for fields sorted in ascending order
  }
  &.-descending {
    // Styling for fields sorted in descending order
  }

  &.-field-enumber {
    // Styling for field 'field_enumber'
  }
  &.-field-opp-start-date {
    // Styling for field 'field_opp_start_date'
  }
  &.-changed {
    // Styling for field 'changed'
  }
  &.-title {
    // Styling for field 'title'
  }
}
.edit-sort {
  &__link {
    display: block;

    width: 100%;
    height: 100%;
  }
}

ul.facet-selection {
  $button-padding-vertical: 0.5rem;
  $button-padding-horizontal: 0.75rem;

  margin-bottom: 0;
  margin-left: 0.5rem;

  list-style-type: none;

  > li {
    display: inline-block;

    margin-bottom: 0;
    margin-left: 0.5rem;
  }

  a {
    @include button-base;
    @include button-size;
    @include button-style($radius: $button-round);
    @include single-transition(background-color);

    &:after {
      margin-left: 1.5rem;

      content: '×';
    }
  }
}
.block-panels-mini-ttc-abstract-faceted-search-mini{
    
    .pane-ttc-search-form-pane {
        #edit-search-container{
            margin:0px; padding:10px 10px 0px 10px; 
            background-color:#306E86;
        }
    
        .form-type-textfield{
            margin:0px; padding:0px;
            float:left;
            width:81%;
        }
        button{float:right; margin:0px; width:auto; padding:9px 9px; text-align:center;}    
    }
    .pane-title{
        border-top:solid 1px #CCC; 
        border-bottom:solid 1px #CCC;  
        vertical-align:middle; padding:13px 13px; 
        margin-bottom:15px; 
        display:block;
        position:relative;
        font-weight:600;
        font-size:16px;
        }
    .pane-title:after{
        content:"+";
        text-align:center;
        cursor:pointer;
        font-size:20px;
        position:absolute;
        color:#f0f0f0;
        right:8px;
        background:#225D71;
        top:11px;
        padding:0px 11px;
        display:block;
        border-radius:3px;
    }
    .pane-content ul{margin:0px; padding:0px;
             
            li{margin:0px 10px; padding:7px 0px; border-bottom:solid 1px #f0f0f0;  vertical-align:top;
                label{font-size:14px;  vertical-align:top; display:inline-flex;}
            }
            li:last-child{border:none; margin-bottom:10px;}
    
    }
}




