.follow-us {
	&__label {
		&:after {
			content: ":";
		}
	}

	&__list {
		list-style-type: none;

		font-size: 0;
	}

	&__list-item {
		display: inline-block;

		margin-right: 0.5rem;
		margin-left: 0.5rem;

		&:first-child {
			margin-left: 0;
		}
	}
}
