%icon {
	display: inline-block;
}

.icon {
	// icon size classes
	$icon-sizes: (
		36px,
		54px
	);

	@each $size in $icon-sizes {
		&--#{strip-unit($size)} {
			height: $size;
			width: $size;
		}
	}


	&--email {
	}
	&--linkedin {
	}
	&--twitter {
	}
}
