.logo {
	max-width: 440px;

	&__link {
		display: block;
	}
}

/// Common Logo block
/// @type Placeholder
%block--logo {
	margin-top: 1rem;
	margin-bottom: 0.5rem;

	@media #{$large-up} {
		display: block;
	}
}

/// Header Logo block
.block--logo-header {
	@extend %block--logo;
}

/// Footer Logo block
.block--logo-footer {
	@extend %block--logo;

	@media #{$large-up} {
		float: left;

		width: 50%;
	}
}
