$main-menu-margin-top: 1rem;
$main-menu-margin-bottom: 0.5rem;
$main-menu-indicator-size: 0.5rem;

.block-system-main-menu {
  display: none;
  clear: both;


  @media #{$large-up} {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    display: block;
	border-bottom:solid 1px #ccc;

    width: 100%;

    .menu {
      @include equally-spaced-list;

      margin: $main-menu-margin-top 5% ($main-menu-margin-bottom + $main-menu-indicator-size);

      text-transform: uppercase;
    }
    li {
      position: relative;

      text-align: center;

      &.active-trail {
        &:before {
          position: absolute;
          top: calc(100% + #{$main-menu-margin-bottom});
          left: calc(50% - #{$main-menu-indicator-size});

          width: 0;
          height: 0;

          content: '';

          border-width: 0 $main-menu-indicator-size $main-menu-indicator-size $main-menu-indicator-size;
          border-style: solid;
          border-color: transparent transparent #ffffff transparent;
        }
      }
    }
    a {
      color: palette(white, base);
    }
  }
}

.main {
  padding-top: ($list-line-height * $list-font-size) + ($main-menu-margin-top + $main-menu-margin-bottom + $main-menu-indicator-size);
}
