.block-search-form {
  display: none;

  @media #{$large-up} {
    display: block;
    float: right;

    width: 30%;
    margin-top: 0.25rem;
    margin-bottom: 1rem;

    @at-root .search-form {
      &__input {
        // force override Foundation styles
        &#{&} {
          margin-bottom: 0;
		  
        }


        &-container {
          padding: rem-calc(7px);
          padding-right: rem-calc(4px);

          background-color: palette(gray, light);
        }
      }
      &__submit {
        margin-bottom: 0;

        text-transform: uppercase;

        &-container {
          padding: rem-calc(7px);
          padding-left: rem-calc(4px);

          background-color: palette(gray, light);
        }
      }
    }
  }
}
.header .form-type-textfield input{padding-left: rem-calc(35px);}
.header .form-type-textfield {position:relative;}
.header .form-type-textfield:before {
	font-family: 'FontAwesome';
	color: #ccc;
	content:'\f002';
	position: absolute;
	left: 10px;
	top: 22px;
	z-index:10;
   }
body.page-availabletechnologies h1{margin-bottom:30px;}
