.view-ttc-content-search-results {
	.views-row {
		margin-top: $paragraph-margin-bottom;
		margin-bottom: $paragraph-margin-bottom;
	}
	.views-field-title {
		font-weight: bold;
	}
	.views-field-url {
		font-weight: bold;
	}
}
