
/** Begin styles for subscription section */

.listserv-subscribe-block-wrapper {
	margin: 0px 0;
	background: #F4F6F3;
	padding: 2rem 0;
	position:relative;
}
.listserv-subscribe-block.ls {
	background: #F4F6F3;
	padding: 10px;
}
.listserv-subscribe-block {
	width: 90%;
	margin: 0 auto;
}
.listserv-subscribe-block .row {
	display: block;
	max-width: 420px;
	margin: 30px auto 0px;
	border: solid 5px #CFCCC3;
	padding: 0px;
}
.listserv-subscribe-block .row > div, .listserv-subscribe-block .row input, .listserv-subscribe-block .row button {
	margin: 0px;
	padding: 0px;
	border-radius:0px !important;
}
.listserv-subscribe-block .row > div, .listserv-subscribe-block .row button {
	text-transform: capitalize;
}
.listserv-subscribe-block .row input {
	padding: 6px 10px;
	border-right: solid 5px #CFCCC3;
}


.listserv-subscribe-block {
  text-align: center;
}
.listserv-subscribe-block h4 {
  color: #215d73;
}

.row.highlighted-error {
  border-width: 2px;
  border-color: red;
}
/** End styles for subscription section*/
