// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the `base/_common.scss` file. You may not need to write any code.

// Headings
//------------------------------------------
h1 {
	text-transform: uppercase;

	border-bottom: 1px solid palette(gray, light);
}

h2 {
	text-transform: uppercase;
}

// Anchors
//-----------------------------------------------------------------------------
a {
	text-decoration: none;

	color: palette(blue, base);

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}
