@import "foundation/functions";

// Import our functions early so they can be used by mixins and other partials.
// We can also override Foundation functions this way.
@import "base/functions";

/// Map of fonts.
/// @type Map
$fonts: (
  lato: (Lato),
  default: (Arial, sans-serif)
);

/// Map of palettes.
/// @type Map
$palettes: (
  white: (
    base: #ffffff
  ),
  gray: (
    x-light: #f5f6f2,
    light: #d9d9d9,
    mid-light: #474747,
    base: #3e3e3e,
    dark: #323131
  ),
  black: (
    base: #000000
  ),
  red: (
    base: #ec5248,
    dark: #c93930
  ),
  orange: (
    base: #f99848,
    dark: #db7729
  ),
  grass-green: (
    base: #98a345,
    dark: #797b3a
  ),
  sea-green: (
    base: #5baa8b,
    dark: #51977f
  ),
  blue: (
    base: #307491,
    dark: #235c72
  ),
  lavender: (
    base: #7b75a5,
    dark: #6a6491
  ),
  plum: (
    base: #3d334b,
    dark: #282030
  )
);

$palettes: map-merge($palettes, (
  grey: map-get($palettes, gray)
));


// Foundation variables

// We use these as default colors throughout
$primary-color: palette(blue);
$secondary-color: palette(gray, light);
// $alert-color: #f04124;
// $success-color: #43AC6A;
// $warning-color: #f08a24;
// $info-color: #a0d3e8;

$base-font-size: 16px;
$rem-base: $base-font-size;
$row-width: 1440px;
$column-gutter: rem-calc(30);

$font-weight-normal: normal;
$font-weight-bold: bold;
$font-family-sans-serif: font(lato);
$body-bg: palette(white);
$body-font-color: palette(gray, dark);
$header-font-color: palette(gray, dark);
$header-font-weight: $font-weight-bold;
$h1-font-size: rem-calc(30);
$h2-font-size: rem-calc(18);
$h1-font-reduction: 0;
$h2-font-reduction: 0;
$paragraph-font-size: rem-calc(18);
$paragraph-line-height: 1.475;
$form-label-font-size: rem-calc(18);
$align-block-grid-to-grid: true;
$global-rounded: 0.25rem;
$has-tip-border-bottom: none;
$has-tip-border-bottom-hover: none;

// breadcrumbs
$crumb-bg: transparent;
$crumb-padding: ($column-gutter / 2) 0;
$crumb-border-size: 0;
$crumb-border-style: none;
$crumb-border-color: transparent;
$crumb-font-size: rem-calc(18);
$crumb-font-color: palette(blue, dark);
$crumb-font-color-current: palette(gray, dark);
$crumb-font-color-unavailable: palette(gray, mid-light);
$crumb-font-transform: none;
$crumb-slash-color: palette(gray, mid-light);
