// @file
// Place your mixins here. Feel free to roll your own mixins.

@mixin clearprior {
  &:before,
  &:after {
    display: table;

    content: " ";
  }
  &:before {
    clear: both;
  }
}

@mixin field-label($level: 1) {
  font-weight: bold;

  @if $level == 1 {
    text-transform: uppercase;
  }
}

// Mixin for Product Type (Technologies) background colors
@mixin product-type-backgrounds($style: 'base') {
  &.-devices {
    background-color: palette(plum, $style);
  }
  &.-diagnostics {
    background-color: palette(red, $style);
  }
  &.-research-materials {
    background-color: palette(lavender, $style);
  }
  &.-software {
    background-color: palette(grass-green, $style);
  }
  &.-therapeutics {
    background-color: palette(sea-green, $style);
  }
  &.-vaccines {
    background-color: palette(orange, $style);
  }
}

@mixin bordered-box($style: solid, $color: palette(gray, light), $width: 8px) {
  border-style: $style;
  border-width: $width;

  @if type-of($color) == 'color' {
    border-color: $color;
  }
  @elseif type-of($color) == 'list' {
    @each $c in $color {
      border-color: $c;
    }
  }
}
