// @file
// Place your mixins here. Feel free to roll your own mixins.

@mixin clearprior {
  clear: both;
}

@mixin field-label($level: 1) {
  font-weight: bold;

  @if $level == 1 {
    text-transform: uppercase;
  }
}

// Mixin for Product Type (Technologies) background colors
@mixin product-type-backgrounds($style: 'base') {
  &.-devices {
    background-color: palette(plum, $style);
  }
  &.-diagnostics {
    background-color: palette(red, $style);
  }
  &.-research-materials {
    background-color: palette(lavender, $style);
  }
  &.-software {
    background-color: palette(grass-green, $style);
  }
  &.-therapeutics {
    background-color: palette(sea-green, $style);
  }
  &.-vaccines {
    background-color: palette(orange, $style);
  }
}

@mixin bordered-box($style: solid, $color: palette(gray, light), $width: 8px) {
  border-width: $width;
  border-style: $style;

  @if type-of($color) == 'color' {
    border-color: $color;
  }
  @elseif type-of($color) == 'list' {
    @each $c in $color {
      border-color: $c;
    }
  }
}

// @see https://gist.github.com/northk/7635946
@mixin equally-spaced-list() {
  text-align: justify;
  // Note: `text-justify` appears to be implemented only by IE, but doesn't
  // appear to be needed for other browsers
  // @see http://www.w3.org/TR/css-text-3/#text-justify-property
  // @see https://msdn.microsoft.com/en-us/library/ms531172.aspx
  text-justify: distribute;

  font-size: 0;

  &:after {
    display: inline-block;

    width: 100%;

    content: '';
  }

  > li {
    display: inline-block;
  }
}
