
// Non-modular or client styles for asides or sidebars.  

.sidebarnav_wrapper {
 border:solid 10px #DFDFDF;
 margin:-10px 0 0 0;
}
.sidebarnav_wrapper ul {
	margin: 0px;
	padding: 0px;
}
.sidebarnav_wrapper .menu > li {
	display: none;
}
.sidebarnav_wrapper .menu > li.active-trail, .sidebarnav_wrapper .menu > li.active-trail.expanded > .menu li {
	display: block;
}
.sidebarnav_wrapper .menu li a {
	display: block;
	padding: 13px 15px 13px 15px;
	border-bottom: solid 1px #eee;
	color: #666;
	line-height: 1.2;
}
.sidebarnav_wrapper ul li.active-trail a.active-trail {
	background-color: #2D7492;
	color: #fff;
}
.sidebarnav_wrapper ul li.active-trail .menu li.expanded.active-trail {
	font-weight: bold;
}
.sidebarnav_wrapper ul li.active-trail .menu .expanded.active-trail a {
	background-color: #eee;
	font-weight: normal;
	padding-left: 15px;
	border-bottom-color: #dfdfdf;
	color: #555;
}
.sidebarnav_wrapper ul ul ul li a {
	padding-left: 35px !important;
}
.sidebarnav_wrapper ul ul ul ul li a {
	padding-left: 55px !important;
}
.sidebarnav_wrapper ul li ul li.expanded a.active, .sidebarnav_wrapper ul ul a.active-trail {
	font-weight: bold !important;
	background-color: #eee !important;
	color: #555 !important;
}
