// Non-modular or client styles for the .main region.
.main {
  @include linear-gradient(palette(blue, dark), palette(grass-green, dark), palette(orange, dark));

  padding-right: $column-gutter;
  padding-left: $column-gutter;
    background-size:100% 50%;
    
    @media #{$large-up} {background-size:100% 70%;}
    
  &__inner {
    background-color: palette(white, base);

    body.front & {
      margin-right: -($column-gutter);
      margin-left: -($column-gutter);

      background-color: transparent;
    }
  }

  @at-root {
    .sidebar,
    &__content {
      margin-bottom: ($column-gutter);
    }
	
  }
}
body.front .main__content{margin-bottom:0px;} 
body.not-front .main{
  padding-right: 0px;
  padding-left: 0px;
  margin-top:0px;
  padding-top:0px;
  background-size:100% 100%;


  
  .main-wrapper{
    background: transparent url(/sites/default/themes/ttctheme/public/images/bg/bg_banner.png) no-repeat center -500px;
    background-size:cover auto;
  padding-bottom: ($column-gutter );
  padding-right: ($column-gutter );
  padding-left: ($column-gutter);
  
    @media #{$large-up} {
        padding-top:3.475rem;
        padding-bottom: ($column-gutter * 1.45);
        padding-right: ($column-gutter * 1.75);
        padding-left: ($column-gutter * 1.75);
  }
  }
} 